# IDE settings
.idea

# database for development
db/data
db/schema.sql

# static directory
static/**
!static/.gitkeep

# environment files
**/.envrc
**/.env

# python environment
.venv
**/__pycache__
